*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.container{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    min-height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
}

main{
    width: 100%;
    min-height: 1000px;
    background-color: gray;
}

footer{
    padding-top: 30px;
    width: 100%;
    min-height: 100px;
    background-color:black;
    display: flex;
    justify-content: center;
    
}